{% extends "layout.html" %}

{% block title %}
    Reset
{% endblock %}

{% block main %}
    <form action="/reset" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus required class="form-control" name="password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" required class="form-control" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" required class="form-control" name="confirmation" placeholder="New Password (again)" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}